<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css"/>
  <link rel="stylesheet" href="../css/base.css"/>
  <link rel="stylesheet" href="../css/layout.css"/>
  <link rel="stylesheet" href="../css/dremaStory.css"/>
</head>
<body>
  <div class="wrapper" id="dreamStories">
    <header id="overlay">
      <div class="container">
        <div class="navbar u-cf"><a class="logo" href="/dream.html"><img src="../img/dream_logo.svg" alt=""/></a><a class="menu_toggle" id="overlay"><span></span></a>
          <div class="navbar-nav popup_nav">
            <ul class="nav_menu">
              <li class="menu_item"><a href="/html/dreamStory.html">夢境內容</a></li>
              <li class="menu_item"><a href="/html/knowledge.html">夢境小知識</a></li>
              <li class="menu_item login"><a>登入</a></li>
            </ul>
          </div><a class="botton nav__botton" href="/html/list.html">立即分享</a>
        </div>
      </div>
    </header>
    <div class="section" id="storyboxs">
      <div class="container">
        <div class="title">夢境內容</div>
        <div class="row">
          <div class="col-sm-2 classify">
            <div class="timebox">
              <div class="time">最新</div>
              <div class="time open">熱門</div>
            </div><br/><br/>
            <div class="checkbox">
              <div class="checkbox_module">
                <input type="radio" id="females" name="sex"/>
                <label for="females">男</label>
              </div>
              <div class="checkbox_module">
                <input type="radio" id="males" name="sex"/>
                <label for="males">女</label>
              </div>
            </div>
            <hr/>
            <div class="checkbox">
              <div class="checkbox_module">
                <input type="radio" id="real" name="reality"/>
                <label for="real">現實</label>
              </div>
              <div class="checkbox_module">
                <input type="radio" id="sureal" name="reality"/>
                <label for="sureal">超現實</label>
              </div>
            </div>
            <hr/>
            <div class="checkbox">
              <div class="checkbox_module" v-for="m in moods">
                <input type="checkbox" :id="m.eg"/>
                <label :for="m.eg">{{m.name}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="row shareBoxs">
              <div class="box col-sm-6 col-md-6 col-12" v-for="i in 24"><a class="box_inside" href="/html/story.html">
                  <div class="box_title">那天的玩笑真的很機</div>
                  <div class="box_text">
                    <div class="text_boxbox">若干論者接受現代主義是戰後社會的處境：人類以刻苦自強精神來重建文明，建立自工業革命以來最大的社會發展運動，當中又結合美國的清教精神，和冷戰時代的美蘇二元對立政治方式，那麼我們就可了解到為何後現代主義衍生的文化信念會是反對主流方案、反對單一以理性為中心、反對二元論對立，更反對功能主義和實用主義為主的美式文化生活。相反的，對於現代主義以前的舊式社會生活方式，人們卻充滿了懷念之情。建築師對都市文明和鄉間生活的反思，引發我們對現代工業立政治方式，那麼我們就可了解到為何後現代主義衍生的文化信念會是反對主流方案、反對單一以理性為中心、反對二元論對立，更反對功能主義和實用主義為主的美式文化生活。相反的，對於現代主義以前的舊式社會生活方式，人們卻充滿了懷念之情。建築師對都市文明和鄉間生活的反思，引發我們對現代工業</div>
                  </div>
                  <div class="box_bottom">
                    <div class="icon_box"><i class="fa fa-thumbs-up thumb">
                        <div class="num thumb_num">20</div></i></div>
                    <div class="icon_box"><i class="fa fa-comment message">
                        <div class="num message_number">10</div></i></div>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/dreamStory.js"></script>
</body>