<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/layout.css")
    link(rel="stylesheet", href="../css/dremaStory.css")
body
    //- 夢境集
    .wrapper#dreamStories
        //- /* navbar   */
        header#overlay
            .container
                .navbar.u-cf
                    a(href="/dreamplatform").logo
                        img(src="../img/dream_logo.svg", alt="")
                    a.menu_toggle#overlay
                        span
                    .navbar-nav.popup_nav
                        ul.nav_menu
                            li.menu_item
                                a(href="/dreamplatform/html/dreamStory.html") 夢境內容
                            li.menu_item
                                a(href="/dreamplatform/html/knowledge.html") 夢境小知識
                            li.menu_item.login
                                a 登入
                    a.botton.nav__botton(href="/dreamplatform/html/list.html") 立即分享



        //- /* .section  */

        .section#storyboxs
            .container
                .title 夢境內容
                .row
                    .col-sm-2.classify
                        .timebox
                            .time 最新
                            .time.open 熱門
                        br
                        br
                        .checkbox
                            .checkbox_module
                                input(type="radio" id="females" name="sex")
                                label(for="females") 男
                            .checkbox_module
                                input(type="radio" id="males" name="sex")
                                label(for="males") 女
                        hr
                        .checkbox
                            .checkbox_module
                                input(type="radio" id="real" name="reality")
                                label(for="real") 現實
                            .checkbox_module
                                input(type="radio" id="sureal" name="reality")
                                label(for="sureal") 超現實
                        hr
                        .checkbox
                            .checkbox_module(v-for="m in moods")
                                input(type="checkbox")(:id="m.eg")
                                label(:for="m.eg") {{m.name}}




                    .col-sm-10
                        .row.shareBoxs
                            .box.col-sm-6.col-md-6.col-12(v-for="i in 12")
                                a(href="/html/story.html").box_inside
                                    .box_title 我做了一場夢
                                    .box_text
                                        .text_boxbox 睜張餳澀的雙眼，困憊得被房裡暗晦但因為螢幕未關而悠悠流洩的躁白光炫給弄得分不清夢裡夢外，時間被攪混在我時醒時睡的潮濕夢境裡，我想清醒，卻被那些枯敗屍骨似的死物一再拖進意識混沌的死蔭之地。我的雙手攀援著陡峻的山壁，未著任何能在我摔落時將我撐拉住的鋼索，又或是我被深山影影幢幢傳說著森冷邪淫之物的神廟，給駭懾著；最叫人驚恐地，在一次混雜脆卡在咽喉的痰咳中，全身濕冷且淪肌浹髓地驚覺到輕抵在動脈上的利刃。分不清夢裡夢外，時間被攪混在我時醒時睡的潮濕夢境裡
                                    .box_bottom
                                        .icon_box
                                            i.fa.fa-thumbs-up.thumb
                                                .num.thumb_num 20
                                        .icon_box
                                            i.fa.fa-comment.message
                                                .num.message_number 10
    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/vue.js")
    script(src="../js/dreamStory.js")




