<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css"/>
  <link rel="stylesheet" href="../css/base.css"/>
  <link rel="stylesheet" href="../css/layout.css"/>
  <link rel="stylesheet" href="../css/dremaStory.css"/>
</head>
<body>
  <div class="wrapper" id="dreamStories">
    <header id="overlay">
      <div class="container">
        <div class="navbar u-cf"><a class="logo" href="/dreamplatform"><img src="img/dream_logo.svg" alt=""/></a><a class="menu_toggle" id="overlay"><span></span></a>
          <div class="navbar-nav popup_nav">
            <ul class="nav_menu">
              <li class="menu_item"><a href="/dreamplatform/html/dreamStory.html">夢境內容</a></li>
              <li class="menu_item"><a href="/dreamplatform/html/knowledge.html">夢境小知識</a></li>
              <li class="menu_item login"><a>登入</a></li>
            </ul>
          </div><a class="botton nav__botton" href="/dreamplatform/html/list.html">立即分享</a>
        </div>
      </div>
    </header>
    <div class="section" id="storyboxs">
      <div class="container">
        <div class="title">夢境內容</div>
        <div class="row">
          <div class="col-sm-2 classify">
            <div class="timebox">
              <div class="time">最新</div>
              <div class="time open">熱門</div>
            </div><br/><br/>
            <div class="checkbox">
              <div class="checkbox_module">
                <input type="radio" id="females" name="sex"/>
                <label for="females">男</label>
              </div>
              <div class="checkbox_module">
                <input type="radio" id="males" name="sex"/>
                <label for="males">女</label>
              </div>
            </div>
            <hr/>
            <div class="checkbox">
              <div class="checkbox_module">
                <input type="radio" id="real" name="reality"/>
                <label for="real">現實</label>
              </div>
              <div class="checkbox_module">
                <input type="radio" id="sureal" name="reality"/>
                <label for="sureal">超現實</label>
              </div>
            </div>
            <hr/>
            <div class="checkbox">
              <div class="checkbox_module" v-for="m in moods">
                <input type="checkbox" :id="m.eg"/>
                <label :for="m.eg">{{m.name}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="row shareBoxs">
              <div class="box col-sm-6 col-md-6 col-12" v-for="i in 12"><a class="box_inside" href="/html/story.html">
                  <div class="box_title">我做了一場夢</div>
                  <div class="box_text">
                    <div class="text_boxbox">睜張餳澀的雙眼，困憊得被房裡暗晦但因為螢幕未關而悠悠流洩的躁白光炫給弄得分不清夢裡夢外，時間被攪混在我時醒時睡的潮濕夢境裡，我想清醒，卻被那些枯敗屍骨似的死物一再拖進意識混沌的死蔭之地。我的雙手攀援著陡峻的山壁，未著任何能在我摔落時將我撐拉住的鋼索，又或是我被深山影影幢幢傳說著森冷邪淫之物的神廟，給駭懾著；最叫人驚恐地，在一次混雜脆卡在咽喉的痰咳中，全身濕冷且淪肌浹髓地驚覺到輕抵在動脈上的利刃。分不清夢裡夢外，時間被攪混在我時醒時睡的潮濕夢境裡</div>
                  </div>
                  <div class="box_bottom">
                    <div class="icon_box"><i class="fa fa-thumbs-up thumb">
                        <div class="num thumb_num">20</div></i></div>
                    <div class="icon_box"><i class="fa fa-comment message">
                        <div class="num message_number">10</div></i></div>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/dreamStory.js"></script>
</body>