<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/layout.css")
    link(rel="stylesheet", href="../css/knowledge.css")
body
    .wrapper
        header#overlay
            .container
                .navbar.u-cf
                    a(href="/index.html").logo
                        img(src="../img/dream_logo.svg", alt="")
                    a.menu_toggle#overlay
                        span
                    .navbar-nav.popup_nav
                        ul.nav_menu
                            li.menu_item
                                a(href="/html/dreamStory.html") 夢境內容
                            li.menu_item
                                a(href="/html/knowledge.html") 夢境小知識
                            li.menu_item.login
                                a 登入
                    a.botton.nav__botton(href="/html/list.html") 立即分享
        .paginator
            ul
                .li.page
                    .text 什麼是夢
                    .line
                .li.page
                    .text 為什麼做夢
                    .line
                .li.page
                    .text 何時會作夢
                    .line
                .li.page
                    .text 每天都會做夢
                    .line
                .li.page
                    .text 夢境內容
                    .line


        .section
            .container
                .title 1.什麼是夢？
                .row
                    .col-sm-6
                        .text 夢是一種心理經驗，發生在睡眠狀態中，其特徵為幻覺型的印象，大部分是視覺性的，而且通常很鮮明。
                        .text 夢境的主要元素包含：不連貫的情節、脫序的情緒、缺乏判斷力或自我覺察的能力。而當作夢時，人會出於錯覺會接受這些現象是真實的。
                    .col-sm-6
        .section
            .container
                .title 2.我們為什麼會做夢？
                .row
                    .col-sm-6
                        .text 目前學術界對於夢的成因與目的還未下定論，但經過長期的觀察證明，可以知道夢和快速動眼睡眠（ＲＥＭ）強烈相關。從神經科物學的角度來看，可以發現睡眠時與清醒時的生理機能的不同，可能造成夢境內容與意識下的產物不同：

                        .text 夢境的主要元素包含：不連貫的情節、脫序的情緒、缺乏判斷力或自我覺察的能力。而當作夢時，人會出於錯覺會接受這些現象是真實的。
                    .col-sm-6
        .section
            .container
                .title 3.我們何時會作夢？
                .row
                    .col-sm-6
                        .text 要知道何時做夢，首先要先了解睡眠的各種階段，科學家依據人的腦波頻率，將入睡程度由淺至深分為四個時期
                        .text 1.淺眠期：為打盹淺睡，不算真正的睡眠，是清醒與睡眠間的過渡期
                        .text 2.輕度睡眠期，從這個階段開始才真正被當作入眠，仍屬輕度睡眠期，仍然容易被弄醒。
                        .text 3.中度睡眠、深眠期，慢波睡眠，是夢話跟夢遊發生的階段，若在此期間被打斷睡眠，醒來的人容易有思緒混亂的狀況
                        .text 4.快速動眼 : 睡眠後期的一種淺睡狀態，其特徵為快速的眼球水平運動、橋腦的刺激、呼吸與心跳速度加快、以及暫時性的肢體麻痺。

                    .col-sm-6
        .section
            .container
                .title 4.每天都會做夢？
                .row
                    .col-sm-6
                        .text 研究發現，人如果在快速動眼時期（REM）的睡眠中被喚醒，有80~90％的機率會表示有作夢，也說明著人每天都會作夢，而且還不只一次。
                        .text 因此，如果當一個人覺得沒有作夢，或者認為一晚只作了一個夢，這是因為對於夢的記憶已經消失。並非所有發生在REM的夢都會被記得，因為每個REM之間會插入慢波睡眠期，導致前一個夢境的記憶被抹除，所以當你一覺到天亮，可能只會記得最後一個夢。
                        .text 而夢境的長度長短不一，從短短幾秒鐘，到長達20-30分鐘都有。隨著睡眠週期次數的增加，REM的長度也會逐漸變長。在一個8小時的完整睡眠中，大部分的夢皆發生在共約2小時的REM時期。


                    .col-sm-6
        .section
            .container
                .title 5.夢境內容
                .row
                    .col-sm-6
                        .text 夢的內容可能很普通、正常，也可能極度超現實主義風格，型態以視覺為主，聽覺為輔，較少有味覺與嗅覺的經驗。而夢的主題包括恐懼、興奮、魔法、抑鬱、冒險，或者是性，夢中發生的事件並不受作夢者的出現，除非是處在清醒夢中。
                        .text 研究發現，不管住在什麼地區、過著什麼樣的生活，所有人的夢境相同處比相異處還多。
                        .lineline
                        .text 1.女性的夢境包含了等量的男性和女性角色，但男性的夢中有將近70%的人物是其他男性。
                        .text 2.兩性的夢，不幸的是多於幸運事件，負面情緒也多於正面情緒，敵意多於友善的感覺，
                    .col-sm-6
                        .text 3.男性在夢中發生的肢體衝突通常比女性多
                        .text 4.兒童夢裡鮮少出現敵意，但在青少年時期會逐漸增多。
                        .text 5.大多數的夢都充滿移動，特別是走路或跑步
                        .text 6.性活動只有在不到百分之十的夢裡出現





    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/knowledge.js")
